/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Tillana:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

:root {
    --blue1: rgb(0,50,255);
    --lightGray: #eee;
    --red1: rgba(255,0,0,1);
    --white1: rgba(255,255,255,1);
    --yellow1: rgba(255,215,0,1);
    --yellow2: rgba(255,255,100,.4);
    
    --fadeOut: fadeOut 10s linear 10s forwards;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
    margin-top: 0;
}

main h2 {
    font-size: 2rem;
    padding: .5em;
    border-radius: 3px;
    background: linear-gradient(to right, rgb(84, 1, 143), rgb(126, 1, 217) 70%, rgb(84, 1, 143));
    color: #fff;
}

h3 {
    margin-bottom: 1em;
}

p {
    margin: 0 0 1em 0;
}

ul {
    margin: 0;
    padding: 0;
}

li:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}

button {
    all: unset;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
	border-radius: 5px;
    cursor: pointer;
    user-select: none;
    touch-action: none;
    transition: transform .15s ease-in-out;
}

button:hover {
    box-shadow:
        1px 1px 1px lightgray,
        -1px -1px 1px lightgray;
}

button:active {
    transform: scale(.975, .925);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* =========================
======== PRINCIPAL =========
========================= */

/* Slider */

#evenements-futurs {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel {
    margin-bottom: 1.5em;
}

#carousel img:not(img:first-child) {
    display: none;
}

/* Books selection */

#selection-livres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .75em;
    margin-bottom: 1em;

}

.livre {
    border: 1px solid black;
    padding: .5em;
    border-radius: 5px;
}

/* Book Page */

#fiche-livre {
    margin: 0 auto;
    margin-bottom: 1.5em;
}

#fiche-livre .illustration {
    width: 50%;
}

.illustration, .illustration img {
    max-width: 100%;
}

#fiche-livre .suggestions-livres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ajouter-panier {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.ajouter-panier button {
    width: 100%;
	font-size: 1.2em;
    font-weight: 700;
	padding: 1em;
	color: #eee;
	background-color: #00ff00;
	display: flex;
	justify-content: center;
	align-items: center;
}

#voir-commentaires {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

/* =========================
======== MON PANIER ========
========================= */

#mon-panier .conteneur {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

#mon-panier .carte-livre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
}

#mon-panier .carte-livre > * {
    width: 100%;
}

#mon-panier h3, #mon-panier h4 {
    margin: 0;
}

#mon-panier h3 {
    font-size: 1.725rem;
    padding: .75em;
    background-color: #1dfb1d;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #000;
}

#mon-panier h4 {
    font-size: 1.2rem;
    padding: .5em;
}

#mon-panier .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =========================
========== FORMS ===========
========================= */

form:not(form.ajouter-panier) {
    width: 50%;
    margin: 0 auto 1.5em auto;
    padding: 1.5em .75em 0 .75em;
    border-radius: 5px;
}

label:not(label:last-child) {
    display: block;
    margin-bottom: .33em;
}

input:not(input[type="checkbox"]) {
    width: 100%;
}

input[type="checkbox"] {
    margin-right: .5em;
}

select {
    width: 50%;
}

textarea {
    width: 100%;
}

.champ-formulaire {
    margin-bottom: 1em;
}

.validation-formulaire {
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.champ-requis::after {
    content: " *";
    color: red;
    font-weight: bold;
}

#formulaire-contact {
    background: blue;
    background: linear-gradient(to bottom right, rgb(0,10,255), rgb(0,50,255), rgb(0,100,255));
    color: #fff;
}

#formulaire-inscription {
    border: 1px solid;
}

/*  */

#reinit-mdp {
    font-size: .9em;
}

#p-connexion {
    text-align: center;
}

/* =========================
============================
========================= */

#notif-creation-compte {
    /* min-height: 375px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/icons/email.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
}

#notif-creation-compte p {
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: .75em;
    /* background-color: rgba(255,255,255,.75); */
    background-color: var(--yellow1);
}

#notif-creation-compte p:first-child {
    margin-bottom: 2em;
}

/* =========================
============================
========================= */

.acces-refuse {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGray);
}

.acces-refuse p {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

/* =========================
========== PROFIL ==========
========================= */

#profil-u table {
    border: 1px solid #000;
    min-width: 50%;
    margin-bottom: 1.5em;
}

#profil-u tr {
    transition: filter .15s linear;
}

#profil-u tr:hover {
    /* outline: 1px solid darkgray; */
    filter: hue-rotate(45deg);
}

#profil-u tr:not(tr:last-of-type) {
    border-bottom: 1px solid #000;
}

#profil-u th,
#profil-u td {
    padding: .5em;
} 

#profil-u th {
    border-right: 1px solid #000;
    background-color: teal;
    color: #fff;
}

#btn-modifier-profil {
    color: unset;
}

#formulaire-modif-profil {
    background-color: teal;
    color: #fff;
}

#formulaire-modif-profil button {
    margin-right: 1em;
    background-color: var(--blue1);
}

#formulaire-modif-profil a {
    color: #fff;
}

#formulaire-modif-profil a:hover {
    color: var(--yellow1);
}

/* =========================
========= CLASSES ==========
========================= */

.centrer-texte {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenu {
    margin: 0 3em;
}

.conteneur-degrade {
    background: #000; /* For browsers that don't support gradients. */
    background: linear-gradient(to bottom right, rgb(255, 220, 0), rgb(255, 180, 0), rgb(255, 100, 0), rgb(255, 0, 0));
    padding: 1px;
    margin-bottom: 1em;
}

.conteneur-degrade > p {
    background: #fff;
    padding: 1em;
    margin-bottom: 0;
}

.border-radius-1 {
    border-radius: 5px;
}

.message-erreur {
    color: rgb(0,50,255);
    animation: var(--fadeOut);
}

.message-succes {
    color: rgb(11, 145, 11);
    font-weight: 600;
    animation: var(--fadeOut);
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        cursor: default;
    }
}

/* =========================
====== MEDIA QUERIES =======
========================= */

@media screen and (max-width: 992px) {

    main p {
        font-size: .9em;
    }

    main h2 {
        font-size: 1.5rem;
    }

    #selection-livres {
        grid-template-columns: 1fr;
    }

    form:not(form.ajouter-panier) {
        width: 100%;
    }

    /* ===== ===== */

    .contenu {
        margin: 0 1em;
    }

    .acces-refuse p {
        font-size: 3em;
    }

    /* ===== ===== */

    #fiche-livre .illustration {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #notif-creation-compte {
        background-size: 75%;
    }
}