/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Tillana:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

:root {
    --lightGray: #eee;
    --red1: rgba(255,0,0,1);
    --white1: rgba(255,255,255,1);
    --yellow1: rgba(255,215,0,1);
    --yellow2: rgba(255,255,100,.4);
    
    --mainMinHeight: 50vh;

    --fadeOut: fadeOut 10s linear 10s forwards;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
    margin-top: 0;
}

p {
    margin: 0 0 1em 0;
}

ul {
    margin: 0;
    padding: 0;
}

li:last-child {
    margin-bottom: 0;
}

li > a {
    color: initial;
}

a {
    text-decoration: none;
}

i {
    font-family: 'Font-Awesome';
    font-style: normal;
}

button {
    all: unset;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
	border-radius: 5px;
    cursor: pointer;
    user-select: none;
    touch-action: none;
    transition: transform .15s ease-in-out;
}

button:hover {
    box-shadow:
        1px 1px 1px lightgray,
        -1px -1px 1px lightgray;
}

button:active {
    transform: scale(.975, .925);
}

/* =========================
========= EN-TÊTE ==========
========================= */

header {
    margin: 0;
}

#bandeau-superieur *,
#titres * {
    color: var(--white1);
}

/* Haut de l'en-tête */

#bandeau-superieur {
    background-color: var(--red1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bandeau-superieur a {
    text-align: center;
    width: 100%;
    display: block;
    padding: .4em 1em;
}

/* Nav (gauche) */

nav i {
    padding: .4em 1em;
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:hover,
nav a:hover {
    background-color: blue;
}

nav a {
    text-transform: uppercase;
}

/* Compte (droite) */

#compte ul {
    display: flex;
    align-items: flex-end;
}

/* Titres */

#titres {
    background-color: var(--yellow1);
    padding: .5em .225em;
}

#titres img {
    max-width: 500px;
}

#titres h1 { /* alt du l'image du logo */
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: .25em;
}

#titres h2 {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
}

/* =========================
======== PRINCIPAL =========
========================= */

main {
    min-height: var(--mainMinHeight);
    padding: 2em 3em;
}

/* Slider */

#evenements-futurs {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel {
    margin-bottom: 1.5em;
}

#carousel img:not(img:first-child) {
    display: none;
}

/* Books selection */

#selection-livres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .75em;
    margin-bottom: 1em;

}

.livre {
    border: 1px solid black;
    padding: .5em;
    border-radius: 5px;
}

/* Book Page */

#fiche-livre {
	padding: 1em;
    margin-bottom: 1.5em;
	border: 1px solid #000;
	border-radius: 5px;
	display: grid;
    grid-template-columns: 1fr 1fr;
}

#fiche-livre > * {
    padding: .5em;
}

#fiche-livre .illustration,
#fiche-livre .details-livre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#fiche-livre .illustration,
#fiche-livre .illustration img {
    max-width: 100%;
}

#fiche-livre .suggestions-livres {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ajouter-panier {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.ajouter-panier button {
    width: 100%;
	font-size: 1.2em;
    font-weight: 700;
	padding: 1em;
	color: #eee;
	background-color: #00ff00;
	display: flex;
	justify-content: center;
	align-items: center;
}

#voir-commentaires {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

/* =========================
========== FOOTER ==========
========================= */

footer {
    margin-top: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
    background-color: var(--yellow2);
}

footer h3 {
    margin-bottom: .5em;
}

footer ul,
footer address {
    margin-left: 33.33%;
}

footer li {
    margin-bottom: .33em;
}

address {
    font-style: normal;
    display: flex;
    flex-direction: column;
}

address li {
    display: block;
}

/* =========================
========== FORMS ===========
========================= */

form {
    width: 50%;
    margin: 0 auto 1.5em auto;
    padding: 1.5em .75em 0 .75em;
    border-radius: 5px;
}

label:not(label:last-child) {
    display: block;
    margin-bottom: .33em;
}

input:not(input[type="checkbox"]) {
    width: 100%;
}

input[type="checkbox"] {
    margin-right: .5em;
}

select {
    width: 50%;
}

textarea {
    width: 100%;
}

.champ-formulaire {
    margin-bottom: 1em;
}

.validation-formulaire {
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.champ-requis::after {
    content: " *";
    color: red;
    font-weight: bold;
}

#formulaire-contact {
    background: blue;
    background: linear-gradient(to bottom right, rgb(0,10,255), rgb(0,50,255), rgb(0,100,255));
    color: #fff;
}

#formulaire-inscription {
    border: 1px solid;
}

/*  */

#reinit-mdp {
    font-size: .9em;
}

#p-connexion {
    text-align: center;
}

/* =========================
============================
========================= */

#notif-creation-compte {
    /* min-height: 375px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/icons/email.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
}

#notif-creation-compte p {
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: .75em;
    /* background-color: rgba(255,255,255,.75); */
    background-color: var(--yellow1);
}

#notif-creation-compte p:first-child {
    margin-bottom: 2em;
}

/* =========================
============================
========================= */

.acces-refuse {
    min-height: var(--mainMinHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGray);
}

.acces-refuse p {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

/* =========================
========= CLASSES ==========
========================= */

.centrer-texte {
    text-align: center;
}

.conteneur-degrade {
    background: #000; /* For browsers that don't support gradients. */
    background: linear-gradient(to bottom right, rgb(255, 220, 0), rgb(255, 180, 0), rgb(255, 100, 0), rgb(255, 0, 0));
    padding: 1px;
    margin-bottom: 1em;
}

.conteneur-degrade > p {
    background: #fff;
    padding: 1em;
    margin-bottom: 0;
}

.border-radius-1 {
    border-radius: 5px;
}

.message-erreur {
    animation: var(--fadeOut);
}

.message-succes {
    color: rgb(11, 145, 11);
    font-weight: 600;
    animation: var(--fadeOut);
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        cursor: default;
    }
}

/* =========================
====== MEDIA QUERIES =======
========================= */

@media screen and (max-width: 992px) {
    #bandeau-superieur nav i {
        display: block;
    }

    #bandeau-superieur nav ul {
        display: none;
        flex-direction: column;
    }

    #bandeau-superieur nav li {
        align-items: flex-start;
    }
    
    #bandeau-superieur nav a {
        text-align: left;
    }

    /* ===== ===== */

    main {
        padding: 1em;
    }

    main p {
        font-size: .9em;
    }

    footer, #selection-livres, #fiche-livre {
        grid-template-columns: 1fr;
    }

    /* ===== ===== */
    
    #fiche-livre .suggestions-livres {
        grid-column: auto;
    }

    /* ===== ===== */

    form {
        width: 100%;
    }

    /* ===== ===== */
    
    #notif-creation-compte {
        background-size: 50%;
    }

    /* ===== ===== */
    
    .acces-refuse p {
        font-size: 3em;
    }

    /* ===== ===== */

    footer ul,
    footer address {
        margin-left: 0;
    }
}